/*
font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1c1a1a;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin-top: 1%;
  min-height: 20px;
  font-size: 25px;
  letter-spacing: 3px;
}

h1 {
  font-family: "Lobster", cursive, sans-serif;
  color: white;
}

#main-title2 {
  color: red;
}

#main-title1 {
  padding-right: 10px;
}

.sub-text-span {
  font-size: 25px;
  display: flex;
  color: #4f4e4e;
  justify-content: center;
  flex-wrap: wrap;
}
.sub-text-span > * { padding: 7px 3ch; }

.main {
  margin-top: 5ch;
  display: flex; 
  flex-direction: column;
  align-items: center;
  border: #00ff47 1px solid;
}

.sub-text {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  margin-top: 1%;
  margin-bottom: -2%;
  min-height: 20px;
  font-size: 25px;
  font-weight: bold;
  height: 60vh;
}

#line {
  border: 2px dashed #312b2b;
  width: 100%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 2%;
}

#original {
  color: #00ff47;
  letter-spacing: 1.5px;
}
#output {
  color: red;
  letter-spacing: 1.5px;
}
.input-button {
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  background-color: #1c1a1a;
  border: 4px solid #fa8142;
  border-radius: 8px;
  color: #fa8142;
  font-size: 15px;
  padding: 7px 50px;
}

.input-button:hover {
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  background-color: #fa8142;
  border: 4px solid #fa8142;
  border-radius: 8px;
  color: #1c1a1a;
  font-size: 16px;
  padding: 8px 51px;
}

.copy-button {
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  background-color: #1c1a1a;
  border: 4px solid #fb41b1;
  border-radius: 8px;
  color: #fb41b1;
  font-size: 15px;
  padding: 7px 50px;
}

.copy-button:hover {
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  background-color: #fb41b1;
  border: 4px solid #fb41b1;
  border-radius: 8px;
  color: #1c1a1a;
  font-size: 16px;
  padding: 8px 51px;
}

.entry-field {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  width: 80vw;
  height: 50px;
  border-radius: 5px;
  border: #1c1a1a;
  background-color: #141414;
  color: #757575;
  text-align: center;
}
.footer {
  width: fit-content;
  font-size: 14px;
  color: white;
  position: absolute;
  bottom: 0;
}

