<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Small Heart❤</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    <div class="title">
        <h1 id="main-title1">Small</h1>
        <h1 id="main-title2">Heart</h1>
    </div>    
    <h3 class="sub-text">Simple . Open-Source . URL-Shortner</h3>
    <div id="line">
    </div>

<form class="sub-text">
    <label id="original" for="original">Enter your lengthy URL :</label><br>

    <input class="entry-feild" type="text"  name="original" value=" Boring URL"><br>

    <input class="input-button" type="button" value="Shorten"><br>

    <label id="output" for="output">Output URL :</label><br>

    <input class="entry-feild" type="text"  name="output" value=" Cute URL"><br>

    <input class="copy-button" type="button" value="Copy">

</form>
<h3 class="sub-text" id="footer">Made with 💖 by Aswin</h3>
</body>

</html>