<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Small Heart</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/logo.ico') }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.goo"https://fonts.googleapis.com">
    <link rel="preconnect" href=gleapis.com/css2?family=Lobster&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="{{ url_for('static',filename='js/script.js') }}" defer></script>
</head>

<body>
    <div class="title">
        <h1 id="main-title1">Small</h1>
        <h1 id="main-title2">Heart</h1>
    </div>    
    <h3 class="sub-text">Simple . Open-Source . URL-Shortner</h3>
    <div id="line">
    </div>

<form class="sub-text" , method="post">
    <label id="original" for="original">Enter your lengthy URL :</label><br>

    <input class="entry-feild" type="url"  name="original" placeholder="  Boring URL" value="{{original_url}}"><br>

    <input class="input-button" type="submit" value="Shorten"><br>

    <label id="output" for="output">Output URL :</label><br>

    <input class="entry-feild" id="final" type="text"  name="output" placeholder="  Cute URL" value="{{output_url}}"><br>

    <input class="copy-button" id= "copy-button" type="button" value="Copy">

</form>
<h3 class="sub-text" id="footer">Made with 💖 by Aswin</h3>
</body>

</html>